@font-face {
  font-family: "iconfont"; /* Project id 4772470 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1737680639727') format('woff2'),
       url('iconfont.woff?t=1737680639727') format('woff'),
       url('iconfont.ttf?t=1737680639727') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenzitexiao:before {
  content: "\e80a";
}

.icon-miaobian:before {
  content: "\e80b";
}

.icon-yinying1:before {
  content: "\e802";
}

.icon-wuxiaoguo:before {
  content: "\e801";
}

.icon-a-personallzationsettings:before {
  content: "\e765";
}

.icon-gongxiangshezhi:before {
  content: "\e766";
}

.icon-a-uploadsetting:before {
  content: "\e767";
}

.icon-gexinghuashezhi:before {
  content: "\e620";
}

.icon-weixiu1:before {
  content: "\e6e3";
}

.icon-shangchuanwenjian-xian:before {
  content: "\e7a3";
}

.icon-shejiqi-lashen:before {
  content: "\e6ea";
}

.icon-shejiqi-kuanduzuida:before {
  content: "\e6f4";
}

.icon-shejiqi-gaoduzuida:before {
  content: "\e6f7";
}

.icon-shejiqi-puman:before {
  content: "\e6fa";
}

.icon-shejiqi-shiying:before {
  content: "\e707";
}

.icon-bianji:before {
  content: "\e764";
}

.icon-a-textstroke:before {
  content: "\e763";
}

.icon-kejianxing-bukejian:before {
  content: "\e722";
}

.icon-ic_libiao:before {
  content: "\e761";
}

.icon-ic_owi:before {
  content: "\e762";
}

.icon-gengxinshuaxinzhongxinjiazaireloadL:before {
  content: "\e876";
}

.icon-extra:before {
  content: "\e75c";
}

.icon-wenhao:before {
  content: "\e75d";
}

.icon-a-shuzhijiajianbeifen10:before {
  content: "\e75e";
}

.icon-huaban:before {
  content: "\e75f";
}

.icon-a-shuzhijiajianbeifen9:before {
  content: "\e760";
}

.icon-youduiqi:before {
  content: "\e757";
}

.icon-zuoduiqi:before {
  content: "\e758";
}

.icon-juzhongduiqi:before {
  content: "\e759";
}

.icon-dingduiqi:before {
  content: "\e75a";
}

.icon-diduiqi:before {
  content: "\e75b";
}

.icon-juzhong:before {
  content: "\e756";
}

.icon-top:before {
  content: "\e750";
}

.icon-right:before {
  content: "\e751";
}

.icon-middle:before {
  content: "\e752";
}

.icon-center:before {
  content: "\e753";
}

.icon-left:before {
  content: "\e754";
}

.icon-bottom:before {
  content: "\e755";
}

.icon-a-textcurve:before {
  content: "\e732";
}

.icon-jiazai:before {
  content: "\e748";
}

.icon-jiahao:before {
  content: "\e749";
}

.icon-fuzhidaojiantieban:before {
  content: "\e74a";
}

.icon-duigou:before {
  content: "\e72a";
}

.icon-dongtaixiangliang:before {
  content: "\e74b";
}

.icon-duanla:before {
  content: "\e74c";
}

.icon-bukejian:before {
  content: "\e74d";
}

.icon-ditu:before {
  content: "\e74e";
}

.icon-cha:before {
  content: "\e74f";
}

.icon-a-addoncharge:before {
  content: "\e737";
}

.icon-a-fontcolor:before {
  content: "\e738";
}

.icon-a-autoscale:before {
  content: "\e739";
}

.icon-zhuanhuanweiquanjumoban:before {
  content: "\e73a";
}

.icon-xuanzexintuxiang:before {
  content: "\e73b";
}

.icon-tupian:before {
  content: "\e73c";
}

.icon-xiayibu:before {
  content: "\e73d";
}

.icon-xialaxiang:before {
  content: "\e73e";
}

.icon-tianjiatext:before {
  content: "\e73f";
}

.icon-tiaojiansheding:before {
  content: "\e740";
}

.icon-suoding:before {
  content: "\e741";
}

.icon-sousuo:before {
  content: "\e742";
}

.icon-shangyibu:before {
  content: "\e72c";
}

.icon-a-fuzhixuanxiang:before {
  content: "\e72b";
}

.icon-shuzhijiajian:before {
  content: "\e743";
}

.icon-shangchuanpsd:before {
  content: "\e744";
}

.icon-kejian:before {
  content: "\e745";
}

.icon-jiesuo:before {
  content: "\e746";
}

.icon-jianhao:before {
  content: "\e747";
}

.icon-spacing:before {
  content: "\e731";
}

.icon-edit:before {
  content: "\e730";
}

.icon-yinying:before {
  content: "\e72e";
}

.icon-option:before {
  content: "\e72f";
}

.icon-a-textskew:before {
  content: "\e733";
}

.icon-a-sprialtext:before {
  content: "\e734";
}

.icon-scrabble:before {
  content: "\e735";
}

.icon-xiguan:before {
  content: "\e72d";
}

.icon-tixing:before {
  content: "\e736";
}

.icon-guanbi1:before {
  content: "\e609";
}

.icon-yuanjiantouxiangyou:before {
  content: "\e625";
}

.icon-gengduo:before {
  content: "\ec1c";
}

.icon-funnel:before {
  content: "\e674";
}

.icon-refresh:before {
  content: "\e613";
}

.icon-shezhi:before {
  content: "\e67b";
}

.icon-guanbi:before {
  content: "\e658";
}

.icon-tianzige:before {
  content: "\e600";
}

.icon-fuzhi:before {
  content: "\e621";
}

.icon-tuodong:before {
  content: "\e64a";
}

.icon-fangdajing:before {
  content: "\e718";
}

.icon-icon_fangxiang_xiaosanjiao_xia:before {
  content: "\e6b1";
}

