// crud
.crud-container {
  margin: 0 auto;
  overflow: hidden;

  .formPart {
    //margin: 20px 0;
    background-color: #f7f8fa;
    padding: 20px 20px 5px;
    .el-form-item {
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .search-form-btn {
      .el-form-item {
        margin-right: 0;
      }
    }
  }

  .menu-left {
    width: 100%;
    margin-bottom: 16px;
    .fl {
      .el-button {
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }
  }

  /* 可以设置不同的进入和离开动画 */
  /* 设置持续时间和动画函数 */
  .slide-fade-enter-active,
  .slide-fade-leave-active {
    -webkit-transition: all 0.49s linear;
    -moz-transition: all 0.49s linear;
    -ms-transition: all 0.49s linear;
    -o-transition: all 0.49s linear;
    transition: all 0.49s linear;
  }
  .slide-fade-enter, .slide-fade-leave-to /* .slide-fade-leave-active for below version 2.1.8 */ {
    height: 0 !important;
  }
}
.crud-pagination {
  &.crud-pagination-top {
    padding: 0;
  }
  &.crud-pagination-bottom {
    padding: 20px 0 0;
  }
  &.el-pagination {
    position: relative;
    width: 100%;
    text-align: right;
    .crud-pagination-left {
      position: absolute;
      top: 20px;
      line-height: 28px;
      font-weight: normal;
    }

    .el-select-dropdown__item {
      span {
        line-height: inherit;
      }
    }
  }

  .el-select-dropdown {
    position: fixed !important;
  }

  .el-pagination__sizes {
    text-align: left;

    .popper__arrow {
      top: -6px;
      left: 50%;
      border-right-color: transparent;
      border-left-width: 6px;

      &::after {
        bottom: 0;
        left: 0;
        border-right-color: transparent;
        border-left-width: 6px;
      }
    }
  }
}
.crud-form {
  padding: 0 8px;
}
.crud-header {
  width: 100%;
  margin-bottom: 16px;
  & > .el-button {
    padding: 12px 25px;
  }
  + *:not(.pagination-operation) {
    margin-bottom: 16px;
  }

  .formPart {
    &.label-width-auto {
      .el-form-item__label-wrap {
        margin-left: 0 !important;
      }
    }
  }
}
.crud--overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}


// form
.form-container {
  //padding-right: 5%;
  text-align: left;

  .is-auto {
    .el-form-item__label-wrap {
      margin-left: 0 !important;
    }
  }
}
.form-container {
  &,
  &.tableForm.form-container {
    margin-bottom: $form-container-bottom;
    .el-form,
    &.el-form {
      display: inline-block;
      width: 100%;
      margin: (-$form-item-top) 0 (-$form-item-gutter);
      padding: 0;
      .el-form-item {
        margin-bottom: $form-item-bottom;
      }
      .el-form-item__label,
      .el-form-item__content {
        //line-height: $form-line-height;
      }
    }
  }
}
.form-menu {
  width: 100%;
  &.is-center {
    text-align: center;
  }
  &.is-left {
    text-align: left;
  }
  &.is-right {
    text-align: right;
  }
}
.form-menu-sticky {
  .form-menu-wrapper {
    position: sticky;
    bottom: 0;
    background-color: #FFFFFF;

    .el-form-item {
      margin: 10px 0;
    }
  }
}
.is-group {
  .avue-form__group {
    padding: 20px;
    > .el-col > .el-form-item {
      margin-top: -$form-item-top;
      padding-bottom: $form-item-top;
    }
  }
  .avue-group__title {
    line-height: 56px;
    padding-left: 20px;
    color: $color-title;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: #f7f8fa;
  }
  .form-menu-wrapper {
    margin-top: 22px;
  }
}
.el-dialog .is-group {
  .avue-group__title {
    line-height: 30px;
    padding-left: 16px;
    color: $color-title;
    border: none;
    background-color: #f7f8fa;
  }
}
.one-page-form {
  &,
  &.tableForm.form-container {
    .el-form,
    &.el-form {
      display: block;
      margin: 0;
    }
  }
  &.form-container,
  &.form-container > .el-form,
  &.form-container > .el-form > .el-row,
  .avue-form__group > .el-col,
  .avue-form__group > .el-col > .el-form-item,
  .avue-form__group > .el-col > .el-form-item > .el-form-item__content,
  .avue-group__item {
    height: 100%;
  }

  > .el-form {
    > .el-row {
      display: flex;
      flex-direction: column;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  &.shrink-2 {
    .avue-group:nth-child(2) {
      flex: 1;
      overflow: hidden;
      .avue-group__item {
        display: flex;
        flex-direction: column;
      }
      .avue-form__group {
        flex: 1;
        overflow: hidden;
      }
    }
  }
}
.el-form {
  &.labelSuffix {
    .el-form-item__label {
      padding-right: 4px;
    }
  }
}


// common
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

.mr0 {
  margin-right: 0 !important;
}
// 按钮之间竖线
.menu-btn-item {
  + .menu-btn-item {
    position: relative;
    margin-left: 18px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -9px;
      width: 1px;
      height: 1em;
      background-color: #dcdfe6;
    }
  }
  &.line::after {
    display: none !important;
  }
  .el-button,
  &.el-button {
    margin-right: 0;
  }
}
.popper-delete {
  .content {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .el-icon-warning {
      margin-right: 5px;
      font-size: 24px;
      color: $color-warning;
    }
  }
}
.icon-text-wrapper {
  position: relative;
  padding-left: 2em;
  .icon {
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translate(-50%, -50%);
  }
}