.p5 {
  padding: 5px;
}

.text-danger {
  color: $color-danger !important;
}

.border-danger {
  border: 1px solid $color-danger;
}

// 闪烁样式
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.blinking {
  animation: blink 1s infinite;
}


.mt-15 {
  margin-top: -15px;
}


.color-sub {
  color: $color-sub;
}