.app-container {
  > .message {
    align-items: normal;
    width: 1200px;
    height: 100%;
    margin: auto;
    color: $color-title;

    .message-back {
      display: inline-block;
      margin-top: 5px;
      margin-bottom: 20px;
      font-size: 14px;
      cursor: pointer;
      .message-icon {
        margin-right: 5px;
      }
    }
    .message-title {
      margin-bottom: 20px;
      font-size: 24px;
    }
    .btn-bar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      .readAllBtn {
        line-height: 28px;
        font-size: 14px;
        user-select: none;
        cursor: pointer;
        span {
          margin-left: 5px;
        }
      }
    }
    .makeicon {
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: red;
      line-height: 20px;
      margin-right: 10px;
      margin-bottom: 2px;
    }
    .paginBar.defaultClass.el-pagination {
      margin-top: 20px;
      padding: 0;
    }

    .crud-container {
      width: 100%;
    }
    .el-table {
      th {
        height: 47px !important;
      }
    }
  }
}

//span = 4.8
.el-col[class*='el-col-4.8'] {
  width: 20%;
}
